@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(26, 25, 25);
    text-decoration: none;
}

body{
    display: grid;
    place-items: center;
}

header{
    margin-top: 30px;
    display: flex;
    width: 70%;
    height: 70px;
    background: rgb(254, 254, 254);
    box-shadow: 5px 5px 15px black;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 30px;
}

main{
    width: 70%;
    background: rgb(0, 255, 85);
    display: flex;
    justify-content: space-between;
}

.nav_btn{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket_header{
    width: 40px;
}

.main_header{
    border: 3px solid rgb(26, 25, 25);
    padding: 5px 7px;
}

p{
    display: flex;
    justify-content: center;
}

.product{
    display: grid;
    align-items: center;
    flex-basis: 100%;
    padding: 5px 10px;
    flex-direction: column;
}

.title{
    font-weight: 700;
}

.basket_div{
    width: 100% ;
    display: flex;
    justify-content: space-between;
}
.minus {
    cursor: pointer ;
}
.count {
    cursor: pointer ;
}
.plus {
    cursor: pointer ;
}
.image {
    width: 200px;
    height: 200px;
}
  